body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    background-color: beige;
    height: 150px;
    width: 500px;
}

.knopka{
    height: 50px;
    width: 300px;
    background-color: #1b9d76;
    border: 1px solid #ffffff;
    font-size: 20px;
    cursor: pointer;
}


.aqparat_2{
    font-size: 26px;
    background-color: red;
    color: rgb(255, 255, 255);
    margin-top: -800px;
}